header .trivia-img {
  align-self: flex-end;
  border: none;
  height: 100px;
  margin: 0 0 0 30px;
  width: 250px;
}

header .title {
  color: white;
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  width: 75%;
}

main .back-button {
  background-color: #780096;
  border: solid 1px  rgb(37, 250, 232);
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 25px;
  font-weight: 900;
  height: 50px;
  margin: 30px 0;
  width: 80%;
}

.ranking-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
}

.ranking-container div {
  align-items: center;
  background-clip: content-box , border-box;
  background-image: linear-gradient(black, rgba(0, 0, 0, 0.89)) , radial-gradient(circle
  at top left, #780096, rgb(37, 250, 232));
  background-origin: border-box;
  border: 3px solid transparent;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  justify-content: space-around;
  width: 100%;
}

.ranking-container div img {
  padding: 8px;
}

.ranking-container div .player-name {
  background: transparent;
  border: none;
  color: white;
  font-size: 25px;
  font-weight: 900;
  width: 50%;
}

.ranking-container div h2 {
  color: white;
  font-size: 30px;
  font-weight: 900;
}
